<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="templates/css/style.css">
    <script src="templates/js/script.js"></script>
    <title>Amber De Vuyst</title>
    </head>
  <body>
    <div>
        <!-- TODO maak dit form,  die update wanneer een dag geselecteerd wordt, keuzes zijn dagen (eventueel in timetable vorm) -->
        {% if daysSet %}
            {% for day in daysSet%}
                <h1>{{ day }}</h1>
            {% endfor %}
        {% else %}
            <h1>Er zijn momenteel geen beschikbare dagen.</h1>
        {% endif %}
    </div>
    
  </body>
</html>