<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css'rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    
    <title>Amber De Vuyst</title>
    </head>
  <body>
    <div>
        <form>
            {% csrf_token %}
            <!-- TODO maak dit form,  die update wanneer een dag geselecteerd wordt, keuzes zijn dagen (eventueel in timetable vorm) -->
            {% if daysSet %}
                <label>Select a date</label>
                <input type="text" id="datepicker">
                <br><br>
                <label>Select time slot</label>
                <select name="timeslots" id="timeslots" disabled></select>
            {% else %}
                <h1>Er zijn momenteel geen beschikbare dagen.</h1>
            {% endif %}
            
                
        </form>
    </div>


    <script>
        $(document).ready(function() {
            $(function() {
                // Make right dates selectable
                var daysSet = "{{daysSet}}";
                
                // clean up date
                var cleanSet = daysSet.replace(/[^0-9\/,]/gi, '');
                dayArr = cleanSet.split(',');

                // add dates to allowed 
                var dates_allowed = {}
                for (let i=0; i<dayArr.length; i++) {
                    var day = dayArr[i].replace(/([0-9][0-9])\/([0-9][0-9])\/([0-9][0-9][0-9][0-9])/gi, '$3-$2-$1'); 
                    dates_allowed[day] = 1;
                }


                $('#datepicker').datepicker({
                    // these aren't necessary, but if you happen to know them, why not
        
                    // minDate: new Date(2009, 12-1, 1),
                    // maxDate: new Date(2010, 9-1, 28),
        
                    // called for every date before it is displayed
                    beforeShowDay: function(date) {
        
                        // prepend values lower than 10 with 0
                        function addZero(no) {
                            if (no < 10){
                            return "0" + no;
                            }  else {
                            return no; 
                            }
                        }
        
                        var date_str = [
                            addZero(date.getFullYear()),
                            addZero(date.getMonth() + 1),
                            addZero(date.getDate())      
                        ].join('-');
        
                        if (dates_allowed[date_str]) {
                            return [true, 'good_date', 'This date is selectable'];
                        } else {
                            return [false, 'bad_date', 'This date is NOT selectable'];
                        }
                    }
                });
                
                // Date has been selected, show available timeslots
                $("#datepicker").on("change",function(){
                    var selected = $(this).val();
                    alert(selected);
                });
            });
        })
    
      </script>
  </body>
  
</html>