{% extends 'base.html' %}

{% block appointment_form %}
<div class="panel panel-default">
    <div class="panel-body">
        <section id="form-wrapper">

            <form method="POST" class="appointment-form">

                {% csrf_token %}
                <h3>Date: </h3>
                <div class="row form-group">
                    <div class="col-sm-4">
                        <div class="input-group date" id="datepicker">
                            {{ form.date }}
                            <span class="input-group-append">
                                <span class="input-group-text bg-white d-block">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

                <h3>Time Slot: </h3>{{ form.time_slot }}
                <h3>First name: </h3>{{ form.patient_first_name }}
                <h3>last name: </h3>{{ form.patient_last_name }}
                <h3></h3>
                <button type="submit" class="btn btn-primary" value="Submit">Save</button>
                <button type="reset" class="btn btn-default">Reset</button>
            </form>


        </section>
    </div>
</div>


<script type="text/javascript">
    $(function() {
        $('#datepicker').datepicker({
            startDate: new Date(),
            format: 'mm/dd/yyyy'
        });
    });
</script>

{% endblock %}

    