<!DOCTYPE html>
<!-- TODO fix layout -->
<html>
    <body>
        Beste {{ first_name }} {{ last_name }},
        <br><br>
        Bedankt voor het vertrouwen en het boeken van jouw afspraak. <br>
        Met deze e-mail is jouw online afspraak op {{ date }} van {{ start }} tot {{ end }} bevestigd. <br><br>
        Nog enkele praktische zaken:
        <ul>
            <li>Zorg voor een omgeving waar je comfortabel bent en voldoende privacy hebt. Een werkende microfoon, webcam en een stabiele internetverbinding zijn ook een must.
            <li>Binnenkort zal je een link ontvangen voor een Teams-meeting. Ik koos voor deze online omgeving aangezien deze garandeert dat gevoelige gegevens onder ons blijven. De sessie wordt opengesteld vijf minuten voor jouw afspraak. Gelieve op tijd te komen.
            <li>Annulatie is tot 24 uur op voorhand mogelijk, hierna wordt er echter een consultatie aangerekend (tenzij in omstandigheden van overmacht).
        </ul>
        Ik kijk er alvast naar uit jou te ontmoeten en bij te staan.<br>
        Alvast tot snel!<br>
        Amber
    </body>
</html>